button {
    cursor: pointer;
    width: 340px;
    height: 60px;
    font-weight: bold;
    text-decoration: none;
}

.menu-button {
    padding: 5 200px;
}

p {
    font-size: 38px;
    font-weight: 300;
    
}

h1{
    font-size: medium;
}