button {
    /* box-sizing: content-box; */

    width: 180px;
    height: 100px;
}

.menu-button {
    color: black;
    font-style: oblique;
    background-color: grey;
    border-style: none;
    border-radius: 20%;
    width: 90px;
    height: 40px;
    border-style: hidden;
    text-align: center;
}

button:active {
    transform: scale(1.09);
}

p {
    margin-top: 2rem;
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}