body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo para toda la página */
}

.category-card {
    text-align: center; /* Centra el texto */
    margin: 20px;
}

form {
    display: grid;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center; /* Centra horizontalmente */
    justify-content: end; /* Centra verticalmente */
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 6px 6px 40px rgba(0, 0, 0, 0.9); /* Sombra para efecto de elevación */
    padding: 20px;
    max-width: 1000px; /* Ancho máximo del formulario */
    margin: auto; /* Centramos el formulario en el contenedor */
    position: relative;
    z-index: 1; /* Asegura que esté en la parte superior del fondo */
    line-height: 1.5;
}

.forms {
    text-align: left;
}

label {
    margin-top: 10px; /* Espacio entre las etiquetas y los inputs */
    justify-content: left;
}

input {
    flex-wrap: wrap;
    /* width: 90%; */
    padding: 8px;
    margin: 8px 0;
}

input[type="text"] {
    width: 90%; /* Ancho completo del input */
    padding: 10px;
    margin-top: 5px; /* Espacio entre el label y el input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Bordes redondeados para el input */
}

input[type="text"]:hover{
    background-color: rgba(0, 0, 0, 0.250);
}

input[type="checkbox"] {
    margin: 1rem;
    appearance: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    justify-content: center;
}

input[type="checkbox"]:checked {
    background: rgba(114, 185, 114, 0.726);
    border-color: black
}

input[type="checkbox"]:hover {
    background-color: rgba(0, 0, 0, 0.285);
}

.back-button,
.next-button {
    margin-top: 2rem;
    width: 270px;
    height: 90px;
    margin-top: 60px; /* Espacio entre el formulario y los botones */
    padding: 30px 50px; /* Espaciado en los botones */
}

.back-button:hover,
.next-button:hover{
    background-color: lightgreen;
    transform: scale(1.2);
}

/* Estilo para el fondo de la página */
.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Altura completa de la ventana */
    background: linear-gradient(45deg, #6b6e9c, #3a3d58); /* Gradiente de fondo */
    overflow: hidden; /* Para evitar overflow de elementos hijos */
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3); /* Fondo blanco semitransparente */
    z-index: 0; /* Asegura que esté detrás del formulario */
}

.business {
    text-transform: uppercase;
    color: aliceblue;
    text-shadow:
        -1px -1px 1px #aaa,
        0px 4px 1px rgba(0, 0, 0, 0.5),
        4px 4px 5px rgba(0, 0, 0, 0.7),
        0px 0px 7px rgba(0, 0, 0, 0.4);
    line-height: 1.5;
    margin-top: 4rem;
}

.business:hover{
    transform: scale(1.2);
}

.text-area {
    margin-top: 1rem;
    width: 200%;
    height: 150px;
    border: none;
}

.text-area:hover{
    background-color: rgba(0, 0, 0, 0.210);
}

.desplegable {
    margin: 1rem;
    width: 250px;
    height: 30px;
    border: 5rem;
}

.total-points{
    text-decoration:overline;
    font-size: xx-large;
    font-weight: bold;
}

.add-server{
    width: 220px;
    height: 80px;
    margin: 1rem;
    background-color: rgba(12, 51, 222, 0.85);
    border-radius: 5%;
    box-shadow: 8px 8px 20px;
    color:black;
    font-weight: bold;
    border: none;
    align-items: center;
    justify-content: center;
}

.add-server:hover{
    transform: scale(1.1);
}

.server-nav {
    text-align: center;
    width: 200%;
    justify-content: center;
    /* margin: 0.5rem; */
    padding: 1rem;
    /* border: 0.2rem black solid; */
}

.server-nav-w {
    text-align: center;
    width: 200%;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0.5rem; */
    padding: 1rem;
    /* border: 0.2rem black solid; */
}