@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom right, #003366, #00509e);
  color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.form {
  background-color: #ffffff;
  color: #333333;
  width: 90%;
  height: 90vh;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.form h1 {
  text-align: center;
  color: #003366;
  margin-bottom: 20px;
  font-size: 22px;
}

label {
  display: block;
  font-weight: bold;
  color: #003366;
  /* margin-bottom: 15px; */
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 15px;
}

input:focus,
textarea:focus {
  border-color: #004f9e5f;
  outline: none;
}

input:hover,
input[type="text"]:hover,
textarea:hover{
  background-color: #003e805a;
}

button {
  width: 100%;
  padding: 1px;
  background-color: #00509e;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #003d80;
}

.desplegable {
  margin-bottom: 1rem;
}


@media (min-width: 175px), (max-width: 500px) {
  body{
    max-width: 90%;
    /* margin-left: 1rem; */
  }
  .contact-form {
    width: 90%;
  }
  .container {
    padding: 10px; /* Reducir márgenes */
  }
  .form {
    max-width: 70%; /* Ocupa casi todo el ancho */
    height: 80%;
  }

  button {
    font-size: 14px; /* Ajustar tamaño de botón */
  }
}



